@charset "utf-8";
.maskLayer{
	background: url('./img/maskLayer/waiting.gif') no-repeat center;
	background-color:#fff;
	opacity:0.2;
	-moz-opacity:0.2;
	filter:alpha(opacity=20);
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	z-index:999;
	overflow-y:hidden;
}